<ion-content has-header="true" padding="true">
  <div class="center">
<!--     <ul class="list">
        <li class="item" ng-repeat="user in users">
          <p>{{user.user_name}}</p>
          <p>{{user.email}}</p>
        </li>
    </ul>     -->
    <div class="button button-block button-stable" ng-click="changeState(1)">
      Log in
    </div>        
    <div class="button button-block button-stable" ng-click="changeState(2)">
      Sign up
    </div>        
    <div class="button button-clear button-dark" ng-click="changeState(3)">
      Remember my password
    </div>
    <div class="button button-block button-stable" ng-click="changeState(4)">
      Category
    </div>            
  </div>  
</ion-content>
