<ion-content has-header="true" padding="true">
  <div class="center">
    <div class="list list-inset">      
      <label class="item item-input">
        <input type="email" placeholder="E-mail" ng-model="email">
      </label>            
    </div>
    <div class="button button-block button-positive" ng-click="remember(email)">
      Remember
    </div> 
    <p>
    <div class="button button-block button-stable" ng-click="changeState(1)">
      Log in
    </div>        
    <div class="button button-clear button-stable" ng-click="changeState(2)">
      Sign up
    </div>            
  </div>  
</ion-content>